[submodule "submodules/cnpy"]
	path = submodules/cnpy
	url = ../../ACDS/cnpy.git
[submodule "submodules/fitpackpp"]
	path = submodules/fitpackpp
	url = https://github.com/JasonGibson274/fitpackpp.git
